<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kraigs.chattingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/chatting"
        android:label="@string/app_name"
        android:roundIcon="@drawable/chatting"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NotificationActivity"></activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".Chat.ImageViewrActivity" />
        <activity android:name=".Chat.UserDetailsActivity" />
        <activity android:name=".Chat.FriendsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Chat.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="CHAT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>